body {
    display: grid;
}

header {
    background-color: #9D8080;
    color: black;
    display: flex;
    justify-content: space-between;
}

.logo>img {
    height: 50%;
}

.menu>a {
    text-decoration: none;
    color: black;
}

.sem_fundo {
    text-align: center;
}

.depois_eu_renomeio {
    background-image: url(img/hero.jpg);
    height: 600px;
    color: white;
    text-align: center;
    background-size: cover;
    padding: 20px;
}
.depois_eu_renomeio > a{
    position: relative;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px;
    margin: 10px 20px;
}

.fotos_itacare {
    background-color: #C3C63B;
}

.banner {
    text-align: center;
    background-color: #191c03;
    color: white;
  
}
.banner > div{
    display: inline-block;
}

.assine_com_email{
    color: #C3C63B;
    text-align: center;
}

.redes_sociais {
    background-color: #191c03;
    color: #C3C63B;
}